h1 {
    color: blue;
}

textarea {
    width: 400px;
    height: 100px;
}

.error {
    color: red;
}

.label {
    color: black;
}

div.post {
    border: 1px solid #999;
    padding: 10px 10px;
    margin: 10px 20%%;
}

em.author {

}

i.date {
    color: #999
}

h4 a {
    color: black;
}