<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/baseStyle.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <header class="row">
            <h1 class="text-center">{{title}}</h1>
        </header>
        <div class="row">
            <main class="col-sm-9 text-center">
                {% block content %}
                {% endblock %}
            </main>
            <aside class="col-sm-3">
                {% if user %}
                <h3>Welcome {{user.userName}}</h3>
                <form action="/post">
                    <input type="submit" value = "New Post">
                </form>
                <br>
                <form action="/">
                    <input type="submit" value = "Home">
                </form>
                <br>
                <form action="/logout" method="post">
                    <input type="submit" value="Logout">
                </form>
                {% else %}

                <form action="/login" method="post">
                    <label for="">
                        <div>Username</div>
                        <input type="text" name="username"
                           value="{{username}}">
                    </label>
                    <br>
                    <label for="">
                        <div>Password</div>
                        <input type="password" name="password">
                    </label>
                    <!--<label for="">Remember Me-->
                        <!--<input type="checkbox" name="member">-->
                    <!--</label>-->
                    <div class="error">{{loginError}}</div>
                    <input type="submit">
                    <a href="/signup">Sign Up</a>
                    <br><br>
                    <h3><a href="/">Home</a></h3>
                {% endif %}
                </form>
                <ul>
                {% for p in posts %}
                    <li><a href="/{{ p.key().id() }}">{{p.subject}}</a></li>
                {% endfor %}
                </ul>
            </aside>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
</body>
</html>