<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/baseStyle.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container">
        <header class="row">
            <h1 class="text-center">{{title}}</h1>
        </header>
        <div class="row">
            <main class="col-sm-9 text-center">
                {% block content %}
                {% endblock %}
            </main>
            <aside class="col-sm-3">
                Login / Logout User Bar
                <form action="/login" method="post">
                    <label for="">
                        <div>Username</div>
                        <input type="text" name="username"
                           value="{{username}}">
                    </label>
                    <label for="">
                        <div>Password</div>
                        <input type="password" name="password">
                    </label>
                    <label for="">Remember Me
                        <input type="checkbox" name="member">
                    </label>
                    <a href="/signup">Sign Up</a>
                    <div class="error">{{error}}</div>
                    <input type="submit">
                </form>
            </aside>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
</body>
</html>