{% extends "baseOut.html" %}

{% block content %}
    {% for p in posts %}
        <div class = "post">
            <h4><a href="/{{p.key().id()}}">{{p.subject}}</a></h4>
            <hr>
            <p>{{p.content}}</p>
            <br>
            <em class="author">{{p.author}}</em>
            <i class="date">{{p.last_modified}}</i>
            {% if p.comments > 0 %}
            <em><a href="/{{p.key().id()}}">Comments:</a> {{p.comments}}</em>
            {% endif %}

            {% if p.likesLength() > 0 %}
                <em>Likes: {{p.likesLength()}}</em>
            {% endif %}
        </div>
        <br><br>
    {% endfor %}
{% endblock %}