{% extends "baseOut.html" %}

{% block content %}
<h2>Blog Registration</h2>
<form action="" method="post">
    <label for="">
        Email Address <input type="text" name="email" value="{{email}}">
    </label><br>
    <label for="">
        Username <input type="text" name="username" value="{{username}}">
    </label><br>
    <label for="">
        Password <input type="text" name="password">
    </label><br>
    <label for="">
        Repeat Password <input type="text" name="passwordCheck">
    </label>
    <input type="submit">
</form>

<form action="" method="post">
    <table class="">
        <tr>
            <td class="label">Email Address</td>
            <td><input type="text" name="email" value="{{email}}"></td>
            <td class="error">{{emailError}}</td>
        </tr>
        <tr>
            <td class="label">User Name</td>
            <td><input type="text" name="username" value="{{username}}"></td>
            <td class="error">{{usernameError}}</td>
        </tr>
        <tr>
            <td class="label">Password</td>
            <td><input type="text" name="password"></td>
            <td class="error">{{passwordError}}</td>
        </tr>
        <tr>
            <td class="label">Verify Password</td>
            <td><input type="text" name="passwordCheck"></td>
            <td class="error">{{passwordCheckError}}</td>
        </tr>
    </table>
    <br>
    <input type="submit">
</form>
{% endblock %}

