{% extends "baseOut.html" %}

{% block content %}
    <div class="post">
        <h4>{{post.subject}}</h4>
        <hr>
        <p>{{post.content}}</p>
        <br>
        <em class="author">{{post.author}}</em>
        <i class="date">{{post.last_modified}}</i>
        <!--<em>{{post.likes}}</em>-->
    </div>
    <br>
    <form action="" method="post">
        <input type="submit" value="Like">
    </form>

    <form action="" method="get">
        <input type="submit" value="Comment">
    </form>
    <div class="error">{{commentError}}</div>
    <br>

    <form action="/modify/{{post.key().id()}}" method="GET">
        <input type="submit" value="Edit">
    </form>

    <form action="/modify/{{post.key().id()}}" method="Post">
        <input type="submit" value="Delete">
    </form>
    <div class="error">{{modifyError}}</div>
    <br><br>

    comments go down here
{% endblock %}