{% extends "baseOut.html" %}

{% block content %}
<!--display the blog post-->
    <div class="post">
        <h4>{{post.subject}}</h4>
        <hr>
        <p>{{post.content}}</p>
        <br>
        <em class="author">{{post.author}}</em>
        <i class="date">{{post.last_modified}}</i>
        {% if post.comments > 0 %}
        <em>Comments: {{post.comments}}</em>
        {% endif %}

        {% if post.likesLength() > 0 %}
        <em>Likes: {{post.likesLength()}}</em>
        {% endif %}
    </div>
    <br>
<!--show like and comment buttons-->
    <form action="/{{post.key().id()}}" method="post">
        <input type="submit" value="Like">
    </form>

    <form action="/comment/{{post.key().id()}}" method="get">
        <input type="submit" value="Comment">
    </form>
    <div class="error">{{commentError}}</div>
    <br>
<!--If the user is the author of the post, show the edit and delete buttons-->
    {% if user %}{% if user.userName == post.author%}
    <form action="/modify/{{post.key().id()}}" method="get">
        <input type="submit" value="Edit">
    </form>

    <form action="/modify/{{post.key().id()}}" method="post">
        <input type="submit" name="Delete" value="Delete">
    </form>
    <div class="error">{{modifyError}}</div>
    <br><br>
    {% endif %}{% endif %}
<!--If we have clicked on the comment button display the html to add a comment-->
    {% if commentActive %}
    <div>Add Comment</div>
    {% if modifyComment %}
<!--if we are modifying instead of adding a comment, submit button calls different action-->
    <form action="/modifycomment/{{modifyComment}}" method="post">
    {% else %}
    <form action="/comment/{{post.key().id()}}" method="post">
    {% endif %}
    <label for="">
        <textarea name="commentContent" id="">{{commentContent}}</textarea>
    </label>
    <div class="error">{{commentPostError}}</div>
    <input type="submit" value="Submit Comment">
    </form>

    <form action="/{{post.key().id()}}" method="get">
        <input type="submit" value="Cancel Comment">
    </form>
    {% endif %}
    <br>
<!--display comments... comments is always a Gql object...not sure how to change-->
    {% if comments %}
    <div class="post">
        {% for comment in comments %}
            <p>{{comment.content}}</p>
            <em class="author">{{comment.author}}</em>
            <i class="date">{{comment.last_modified}}</i>
            {% if user %}{% if user.userName == comment.author%}
                <form action="/modifycomment/{{comment.key().id()}}" method="get">
                    <input type="submit" value="Edit">
                </form>

                <form action="/modifycomment/{{comment.key().id()}}" method="post">
                    <input type="submit" name="delete" value="Delete">
                </form>
                <div class="error">{{modifyError}}</div>
            {% endif %}{% endif %}

            <hr>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}