{% extends "baseOut.html" %}

{% block content %}
    <h4>{{post.subject}}</h4>
    <hr>
    <p>{{post.content}}</p>
    <br><br>

    <forum action="" method="post">
        <input type="submit" value="Like">
    </forum>

    <forum action="" method="get">
        <input type="submit" value="Comment">
    </forum>

    <br><br>

    <forum>
        <input type="submit" value="Edit">
    </forum>

    <forum action="" method="Post">
        <input type="submit" value="Delete">
    </forum>
    <br><br>
    comments go down here
{% endblock %}